.li2{
  position: relative;
  flex-direction: column;
  display: flex;
  width: 180px;
  height: 200px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  margin: 0 16px 16px 0;
  border-radius: 4px;
  color: rgb(0, 26, 255);
  overflow: hidden;
  background-image: url("https://i.pinimg.com/originals/26/3c/93/263c93e03a3d1c3de47dd7c882f93cc8.jpg");
  background-position: center;
  background-size: cover;
  font-size: large;
}

.section-grid {
    padding-top: .5rem;
    border-top: 1px solid rgb(55, 55, 55);
    border-bottom: 1px solid rgb(55, 55, 55);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-bottom: 10px;
}

.id{
position: absolute;
right: 4px;
top: 2px;
}

.name{
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1; 
}

.surname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1; 
}

.salary{
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

.container{
    display: flex;
    flex-direction: row;
}

button{
    justify-content: center;
    width: 90px;
    height: 30px;
    display: flex;
}

